
.terminal {
  width: 700px;
  height: 500px;
  background-color: rgba(23, 25, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Sono', sans-serif;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

textarea {
  resize: none;
}

#terminal-text {
  color: rgb(60, 255, 30);;
  background-color:rgba(23, 25, 25);
  border: none;
  font-size: 15px;
}

input:focus, textarea {
  outline: none !important;
}
